@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(13, 106, 134);
    --primary-color-darker: rgb(9, 48, 56);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 40em;
    margin: 3.125em auto;
    background-color: #fff;
    padding: 1.25em;
    border-radius: 0.625em;
}
form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 0.625em;
}
form input{
    font-size: 1.5em;
    height: 3.125em;
    padding: 1.25em;
}
form input:focus{
    outline: 0.0625em solid var(--primary-color);
}
form button{
    border:none;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    height: 3.125em;
    cursor: pointer;
    margin-top: 1.875em;
    transition: all .2s ease-in-out;
}
form button:hover{
    background-color: var(--primary-color-darker);
}
.error-text{
    color:red;
}
